{% extends "projet_layout.html" %}

{% block titre %}
    WORDLE
{% endblock %}
{% block title %}
    Wordle
{% endblock %}
{% block body %}
<section id="banner">
    <div style="color:#ffffff" class="inner">
        <h4 style="color:#ffffff" >Bienvenue sur Wordle</h4><br /><br />
            
        
        <p style="color:#ffffff" ><br /><br />
        
       <br /><br />
        Appuyer sur le bouton démarrer pour commencer le wordle:</p>
        <br /><br />
        <ul class="actions special">
            <li><a href="/difficulte" type="submit" class="bouton">Démarrer</a></li>
        </ul>
    </div>
</section>
{% endblock %}
