{% extends "projet_layout.html" %}

{% block titre %}
    WORDLE
{% endblock %}
{% block title %}
    Jeu
{% endblock %}
{% block body %}
<section id="banner" >
    <div  class="inner">
        <form class="formulaire " action="#" method="post">
            <p style="color:#ffffff" >Mot : </p><br/>
            <p style="color:#ffffff" ><input type="text" name="mot2"  minlength="{{n}}" maxlength="{{n}}" autocomplete="off" autofocus/>  </p>
            <p><input class="bouton" type="submit" value="submit"> </p><br/>
        </form>
        <br/>
        <table style="color:#ffffff" class="grille">
           

            
                {% for i in range(0,7) %}
                <tr class="grille-lig">
                    {% for j in range (0,n) %}
                    {% if mot[i][j] == 0%}
                        <td  style="color:#ffffff"class="case">{{rep1[i][j]}}</td>
                    {% elif mot[i][j] == 2%}
                        <td style="color:#ffffff" class="case_mal">{{rep1[i][j]}}</td>
                    {% else %}
                        <td  style="color:#ffffff" class="case_bien">{{rep1[i][j]}}
                    {% endif %}
                    {% endfor %}

                </tr>
                {% endfor %}


         </table>
        
        
    </div>
</section>
{% endblock %}