<!DOCTYPE html>

<html lang="fr">
    <head>
        <title> {% block title %}{% endblock %} </title>
    </head>
    <body>
        <link rel="stylesheet" href="/static/style_projet.css">
        <header class="main-head"> 
            
          <nav>
            <h1>{%block titre %}{% endblock %}</h1>
             <ul>
                 <li><a href="/">Accueil</a></li>
                 <li><a href="/login">Login</a></li>
                 <li><a href="/signup">SignUp</a></li>
                 <li><a href="/difficulte">Jouer</a></li>
                 <li><a href="/profile">Profil</a></li>
               
             </ul>       
          </nav>       
            
                       
        </header>
        <body >
        
        <section  id='corps_de_page'> 
                <div class="corps_page">
                    {% block body %}{% endblock %}
                </div>
            

            
                
                <div class="menu-vertical">
                    <nav class="main-menu">
                        {% block menu%}{% endblock %}
                    </nav>
                </div>
        
    

        </section>
        </body>
        
        


        <footer>
            
                <h2>© 2021 Telecom Nancy</h2>
            
        </footer>

    </body>
</html>